<%= form_for @profile, url: user_profile_path, :html => { :multipart => true } do |f|%>

<% if @profile.errors.any? %>
<div id="error_explanation">
  <h2 class="text-center"><%= pluralize(@profile.errors.count, "#{$tab_word["#{$langue}"]["profile"]["error"]}") %> <%= $tab_word["#{$langue}"]["profile"]["profile_error"] %></h2>
  <ul class="text-center">
    <% @profile.errors.full_messages.each do |msg| %>
    <li class="field_with_errors"><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="col-md-10 col-md-offset-1">
  <div class="well">
    <div class="form-group">
      <% if $langue == "fr" %>
	<%= f.label :prénom %>
	<% else %>
	<%= f.label :first_name %>
	<% end %>
	<%= f.text_field :first_name, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <% if $langue == "fr" %>
      <%= f.label :nom %>
      <% else %>
      <%= f.label :last_name %>
      <% end %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    
    <div class="form-group">
       <% if $langue == "fr" %>
      <%= f.label :image %>
      <% else %>
      <%= f.label :avatar %>
      <% end %>
	<%= f.file_field :avatar, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <% if $langue == "fr" %>
      <%= f.label :travail %>
      <%= f.select :job_title, ['Developpeur', 'Entrepreneur', 'Investisseur'], {}, class: 'form-control' %>
      <% else %>
      <%= f.label :job_title %>
      <%= f.select :job_title, ['Developer', 'Contractor', 'Investor'], {}, class: 'form-control' %>
      <% end %>
    </div>
    
    <div class="form-group">
      <% if $langue == "fr" %>
	<%= f.label :numéros_de_téléphone %>
	<% else %>
	<%= f.label :phone_number %>
	<% end %>
      <%= f.text_field :phone_number, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <% if $langue == "fr" %>
	<%= f.label :ville %>
	<% else %>
	<%= f.label :city %>
	<% end %>
      <%= f.text_field :city, class: 'form-control' %>
      </div>
    
    <div class="form-group">
      <% if $langue == "fr" %>
	<%= f.label :adresse_mail %>
	<% else %>
	<%= f.label :contact_email %>
	<% end %>
      <%= f.text_field :contact_email, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    
    <p><%= $tab_word["#{$langue}"]["profile"]["plus"] %></p>
    
    <div class="form-group">
      <% if $langue == "fr" %>
	<%= f.label :services_proposés %>
	<% else %>
	<%= f.label :service_offer %>
	<% end %>
      <%= f.text_area :service_offer, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <% if $langue == "fr" %>
	<%= f.label :références %>
	<% else %>
	<%= f.label :references %>
	<% end %>
      <%= f.text_area :reference, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.submit "#{$tab_word["#{$langue}"]["profile"]["update"]}", class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<% end %>
