<div class="container-fluid recherche" style="margin-top: -20px">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center" style="color: white"><%= $tab_word["#{$langue}"]["index"]["logo"] %></h1>
      <p class="text-center" style="color: white"><%= $tab_word["#{$langue}"]["index"]["logo_1"] %></p>
      <%= form_tag "/users", method: "get" do %>
      <form class="form-inline my-1 my-lg-0 well">
	<ul class="list-inline clearfix text-center">
	  <% if $langue == "en" %>
	  <li><input class="form-control" type="text" name="name" placeholder="Name" aria-label="Search"></li>
	  <% else %>
	  <li><input class="form-control" type="text" name="name" placeholder="Nom" aria-label="Search"></li>
	  <% end %>
	  <li><select class="form-control" name="job">
	      <option><%= $tab_word["#{$langue}"]["job"]["job"] %></option>
	  <option><%= $tab_word["#{$langue}"]["job"]["dev"] %></option>
	      <option><%= $tab_word["#{$langue}"]["job"]["entre"] %></option>
	      <option><%= $tab_word["#{$langue}"]["job"]["inv"] %></option>
	  </select></li>
	  <li><button class="btn btn-online-success my-2 my-sm-0" type="submit">Search</button></li>
	</ul>
      </form>
      <% end %>
    </div>
  </div>
  <br /><br />
</div>

<br /><br />

<div class="container">
  <div class="row">
    <div>
      <center><ul class="list-unstyled">
	<% @users.each do |user| %>
	<% if user.profile != nil %>
	<li>
	  <div class="well row col-md-4 index-pers" style="margin-left: 120px;">
	    <div class="col-md-4">
	      <% if user.profile.avatar %>
	      <%= link_to user do %>
	      <% if user.profile.avatar.url != "/image/original/missing.png" %>
		 <%= image_tag user.profile.avatar.url, class: "user-index-avatar"%>
		 <% else %>
		 <%= image_tag "facebook-geek-avatar.jpg", alt: "avatar", class:"user-index-avatar" %>
		 <% end %>
		 <% end %>
		 <% end %>
	    </div>
	    <div class="col-md-8">
	      <%= link_to user do %>
	      <h3><b><%= user.profile.first_name.capitalize %> <%= user.profile.last_name.capitalize %></b></h3>
	      <% end %>
	      <% if user.profile.job_title == "Developer" || user.profile.job_title == "Developpeur" %>
	      <p><%= $tab_word["#{$langue}"]["job"]["dev"] %></p>
	      <% elsif user.profile.job_title == "Investor" || user.profile.job_title == "Investisseur" %>
	      <p><%= $tab_word["#{$langue}"]["job"]["inv"] %></p>
	      <% elsif user.profile.job_title == "Contractor" || user.profile.job_title == "Entrepreneur" %>
	      <p><%= $tab_word["#{$langue}"]["job"]["entre"] %></p>
	      <% end %>
	    </div>
	  </div>
	</li>
	<% end %>
	<% end %>
	</ul>
	</center>
    </div>
  </div>
</div>
