<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Logo Community</h1>
      <p class="text-center">Welcome to the Logo community. Users must fill out a profile in order to be visible in the community.</p>
      <%= form_tag "/users", method: "get" do %>
      <form class="form-inline my-1 my-lg-0 well">
	<ul class="list-inline clearfix">
	<li><input class="form-control mr-sm-2" type="text" name="name" placeholder="First name" aria-label="Search"></li>
	<li><input class="form-control mr-sm-2" type="text" name="second" placeholder="Last name" aria-label="Search"></li>
	<li><select class="form-control" name="job">
	  <option>Job title</option>
	  <option>Developer</option>
	  <option>Entrepreneur</option>
	  <option>Investor</option>
	</select></li>
	<li><button class="btn btn-online-success my-2 my-sm-0" type="submit">Search</button></li>
	</ul>
      </form>
      <% end %>
      <ul class="list-unstyled">
	<% @users.each do |user| %>
	<% if user.profile != nil %>
	<li>
	  <div class="well row <%= cycle('white-bg', '') %>">
	    <div class="col-sm-4 text-center">
	      <% if user.profile.avatar %>
	      <%= link_to user do %>
	      <%= image_tag user.profile.avatar.url, class: 'user-index-avatar' %>
	      <% end %>
	      <% end %>
	    </div>
	    <div>
	      <%= link_to user do %>
	      <h2><%= user.profile.first_name %> <%= user.profile.last_name %></h2>
	      <% end %>
	      <p><%= user.profile.job_title %></p>
	    </div>
	  </div>
	</li>
	<% end %>
	<% end %>
      </ul>
    </div>
  </div>
</div>
