<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% if @user.profile != nil %>
      <% if @user.profile.avatar.url != "/image/original/missing.png" %>
      <%= image_tag @user.profile.avatar.url, class: "avatar-show-img"%>
      <% else %>
      <%= image_tag "facebook-geek-avatar.jpg", alt: "avatar", class:"avatar-show-img" %>
      <% end %>
      <% end %>

      
      <% if @user.profile != nil %>
      <h1> <%= @user.profile.first_name.capitalize %> <%= @user.profile.last_name.capitalize %></h1>
      <br />
      <% if @user.profile.job_title == "Developer" || @user.profile.job_title == "Developpeur"%>
      <h4> <span><%= job_title_icon %> </span><%= $tab_word["#{$langue}"]["job"]["dev"]%></h4>
      <% elsif @user.profile.job_title == "Investor" || @user.profile.job_title == "Investisseur"%>
      <h4> <span><%= job_title_icon %> </span><%= $tab_word["#{$langue}"]["job"]["inv"]%></h4>
      <% elsif @user.profile.job_title == "Contractor" || @user.profile.job_title == "Entrepreneur"%>
      <h4> <span><%= job_title_icon %> </span><%= $tab_word["#{$langue}"]["job"]["entre"]%></h4>
      <% end %>
      <h4><i class="fa fa-location-arrow".html_safe></i> <%= @user.profile.city.capitalize %>
    	&nbsp;
    	<i class="fa fa-twitter".html_safe></i>
    	&nbsp;
    	<i class="fa fa-linkedin".html_safe></i></h4>
      <h4><i class="fa fa-envelope".html_safe></i>&nbsp;&nbsp;<%= @user.profile.contact_email.capitalize %></h4>
      <h4><i class="fa fa-phone-square".html_safe></i>&nbsp;&nbsp;<%= @user.profile.phone_number %>
    </div>

    
    <div class="container col-md-9">
      <h3>Description :</h3>
      <hr />
      <p><%= @user.profile.description %></p>
      <br />
      <% if @user.profile.service_offer != nil && @user.profile.service_offer.length > 1 %>
      <h3><%= $tab_word["#{$langue}"]["user"]["offer"] %></h3>
      <hr />
      <p><%= @user.profile.service_offer %></p>
      <% end %>
      <br />
      <% if @user.profile.reference != nil && @user.profile.reference.length > 1 %>
      <h3><%= $tab_word["#{$langue}"]["user"]["ref"] %></h3>
      <hr />
      <p><%= @user.profile.reference %></p>
      <% end %>
      <% end %>
 
      <br /><br />
      
      <% if @user.id == current_user.id %>
      <% if @user.profile == nil %>
      <%= link_to "#{$tab_word["#{$langue}"]["user"]["create"]}", new_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block text-center' %>
      <%= link_to "#{$tab_word["#{$langue}"]["user"]["account"]}", edit_user_registration_path, class: "btn btn-default btn-lg btn-block text-center" %>
      <% else %>
      <center>
	<%= link_to "#{$tab_word["#{$langue}"]["user"]["edit"]}", edit_user_profile_path(user_id: current_user.id),  class: 'btn petit_prem', style: 'border-radius: 170px; border-color: white; font-size: 20px; padding-left: 20px; padding-right: 20px' %>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to "#{$tab_word["#{$langue}"]["user"]["account"]}", edit_user_registration_path,  class: 'btn petit_sec', style: 'border-radius: 170px; border-color: #1A90AB; font-size: 20px; padding-left: 20px; padding-right: 20px' %>
      </center>
      <% end %>
      <% end %>
      
      <br /><br />
      
    </div>
  </div>
</div>
