<div class="home_text text-center container-fluid">
  <h1><%= $tab_word["#{$langue}"]["home"]["home_1"]%></h1>
  <h3><%= $tab_word["#{$langue}"]["home"]["home_2"]%></h3>
  <br /><br /><br />
  <% if user_signed_in? %>
  <div class="container home-signed-links">
      <div class="row">
	<div class="col-md-6 col-md-offset-3">
	  <div class="well block-visit">
	    <h2 class="text-center Commu"><%= $tab_word["#{$langue}"]["home"]["home_3"]%></h2>
	    <p class="text-center Commu"><%= $tab_word["#{$langue}"]["home"]["home_4"]%></p>
	    <%= link_to "#{$tab_word["#{$langue}"]["home"]["home_5"]}", users_path, class: 'btn btn-default btn-lg btn-block'%>
	  </div>
	</div>
      </div>
  </div>
</div>
<% end %>
