<div class="home_text text-center container-fluid">
  <br />
  <h1 style="font-size: 60px"><%= $tab_word["#{$langue}"]["home"]["home_1"]%></h1>
  <h1 style="font-size: 60px"><%= $tab_word["#{$langue}"]["home"]["home_2"]%></h1>
  <br /><br /><br /><br /><br /><br/>
  <%= link_to "#{$tab_word["#{$langue}"]["home"]["home_4"]}","/users/sign_up", class: 'btn premier btn-lg', style: 'border-radius: 170px; border-color: white; font-size: 28px; padding-left: 28px; padding-right: 28px' %>
  &nbsp; &nbsp; &nbsp; &nbsp;
  <% if user_signed_in? %>
  <%= link_to "#{$tab_word["#{$langue}"]["home"]["home_5"]}", users_path, class: 'btn second btn-lg', style: 'border-radius: 170px; border-color: #1A90AB; font-size: 28px; padding-left: 28px; padding-right: 28px' %>
  <% else %>
  <%= link_to "#{$tab_word["#{$langue}"]["home"]["home_5"]}", "/users/sign_in", class: 'btn second btn-lg', style: 'border-radius: 170px; border-color: #1A90AB; font-size: 28px; padding-left: 28px; padding-right: 28px' %>
  <% end %>
  
</div>

<br /><br /><br /><br /><br />

<div class="container">
  <ul class="list-inline clearfix">
  <li class="col-md-2 col-md-offset-1 text-center">
    <%= image_tag "geoloc.png", alt: "image bleue" %>
    <p class="sous-texte"><br /><%= $tab_word["#{$langue}"]["home"]["home_6"] %></p>
  </li>
  <li class="col-md-2 col-md-offset-2 text-center">
    <%= image_tag "search.png", alt: "image bleue" %>
    <p class="sous-texte"><br /><%= $tab_word["#{$langue}"]["home"]["home_7"] %></p>
  </li>
  <li class="col-md-3 col-md-offset-2 text-center">
    <%= image_tag "chat.png", alt: "image bleue" %>
    <p class="sous-texte"><br /><%= $tab_word["#{$langue}"]["home"]["home_8"] %></p>
  </li>
  </ul>
</div>

<br /><br /><br />

<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-1 text-center">
      <div class="well" style="border-radius: 20px; border-color: #1A90AB; background-color: white">
	<br /><br />
	<%= image_tag "pointeur.png", alt: "image bleue", width: 130, height: 80 %>
	<p class="sous-texte" style="padding-right: 24px"><br /><br /><b><%= $tab_word["#{$langue}"]["home"]["home_9"] %></b></p>
	<br />
	<% if user_signed_in? %>
	<%= link_to "#{$tab_word["#{$langue}"]["home"]["home_10"]}", "/users/#{current_user.id}/profile/edit", class: 'btn petit_prem btn-lg', style: 'border-radius: 170px; border-color: white; font-size: 20px; padding-left: 20px; padding-right: 20px' %>
	<% else %>
	<%= link_to "#{$tab_word["#{$langue}"]["home"]["home_10"]}", "/users/sign_in", class: 'btn petit_prem btn-lg', style: 'border-radius: 170px; border-color: white; font-size: 20px; padding-left: 20px; padding-right: 20px' %>
	<% end %>
	<br /><br /><br />
      </div>
    </div>
    <div class="col-md-5 text-center">
      <div class="well" style="border-radius: 20px; border-color: white; background-color: #1A90AB">
	<br /><br />
	<%= image_tag "worldwide white.png", alt: "image bleue", width: 120, height: 90 %>
	<p class="sous-texte" style="color: white"><br /><br /><b><%= $tab_word["#{$langue}"]["home"]["home_11"] %></b></p>
	<br />
	<%= link_to "#{$tab_word["#{$langue}"]["home"]["home_12"]}", "/users/sign_up", class: 'btn petit_sec', style: 'border-radius: 170px; border-color: white; font-size: 20px; padding-left: 20px; padding-right: 20px' %>
	<br /><br /><br />
      </div>
    </div>
  </div>
</div>
