<div class="home_text text-center container-fluid">
  <h1><%= $tab_word["#{$langue}"]["home"]["home_1"]%></h1>
  <h1><%= $tab_word["#{$langue}"]["home"]["home_2"]%></h1>
  <br /><br />
  <%= link_to "Rejoindre le réseau","/users/sign_up", class: 'btn premier btn-lg', style: 'border-radius: 170px' %>
  &nbsp; &nbsp; &nbsp; &nbsp;
  <% if user_signed_in? %>
  <%= link_to "Consulter l'annuaire", users_path, class: 'btn second btn-lg', style: 'border-radius: 170px' %>
  <% else %>
  <%= link_to "Consulter l'annuaire", "/users/sign_in", class: 'btn second btn-lg', style: 'border-radius: 170px' %>
  <% end %>
  <br /><br />
  
</div>

<br /><br /><br />

<div class="container">
  <img src="geoloc.jpg" alt="image bleue" />
</div>

