<!DOCTYPE html>
<html>
  <head>
    <title>Projet1</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    <!-- <link href="https://bootswatch.com/paper/bootstrap.min.css" rel="stylesheet"> -->
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container'>
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a href="/" class="navbar-brand"><span class="up" style="font-size: 30px">DEBATLAB</span></a>
	</div>
	<div class="collapse navbar-collapse" id="main-nav-collapse">
	  <ul class="nav navbar-nav navbar-right">
	    <% if user_signed_in? %>
	    <li><%= link_to "#{$tab_word["#{$langue}"]["layout"]["about"]}", "/about", class: "up"%></li>
	    <li><%= link_to "#{$tab_word["#{$langue}"]["layout"]["profile"]}", "/users/#{current_user.id}", class: "up" %></li>
	    <li><%= link_to "#{$tab_word["#{$langue}"]["layout"]["out"]}", destroy_user_session_path, method: :delete, class: "up" %></li>
	    <% else %>
	    <li><%= link_to "#{$tab_word["#{$langue}"]["layout"]["about"]}", "/about", class: "up"%></li>
	    <li><%= link_to "#{$tab_word["#{$langue}"]["layout"]["sign"]}", "/users/sign_up", class: "up" %></li>
	    <li><%= link_to "#{$tab_word["#{$langue}"]["layout"]["log"]}", "/users/sign_in", class: "up" %></li>
	    <% end %>
	    <li>
	      <div class="dropdown">
		<button class="btn btn-default dropdown-toggle language" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		  <%= "#{$tab_word["#{$langue}"]["layout"]["langue"]}" %>
		  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		  <li><%= link_to "Fr", "/langue_fr" %></li>
		  <li><%= link_to "En", "/langue_en" %></li>
		</ul>
	      </div>
	    </li>
	  </ul>
	</div><!-- /.navbar-collapse -->
      </div>
    </nav>
    
    <div class="container flash-container">
      <% flash.each do |type, msg| %>
      <%= content_tag :div, msg, class:"alert alert-#{type}" %>
      <% end %>
    </div>
    
    <%= yield %>
    
  </body>
</html>
